*{

font-family: 'Comfortaa';

}
footer{ 
    width: 100%;
    max-width: 1600px;
    background: green;
    color: white; /*Color de letras*/
    
}

.container-footer{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-footer2{
    display: flex;
    justify-content: space-between;
   
}


.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 28px;
    height: 28px;
}

.row label{
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}

.row a{
        color: white;
       text-decoration: none;
}

.row a:hover { /*Al pasar el cursor*/
  background: #669933 ; 
}
