*{
font-family: 'Comfortaa';
}

footer{
    margin: auto;
    max-width: 100%;

}

.container-footer{
    width: 100%;
    max-width: 1800px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    background: green;
    margin: auto;

}

.row{ /*separación*/
    margin-top: 15px;
    margin-bottom: 15px;
}

.row img{ /*dimesion iconos*/
    width: 25px;
    height: 25px;
    margin: left;

}

.row label{ 
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}

.row a{/*quitar subrayado*/
    color: white;
    text-decoration: none;
}
.row a:hover { /*Al pasar el cursor*/
  background: #009933; 
}

.columna1 {
   
    color: white;
    width: 33%;
    padding: 10px;
    
}
.columna2{

    color: white;
       width: 33%;
         padding: 10px;
}

.columna3{
    
    color: white;
       width: 33%;
         padding: 10px;
}

@media screen and (width: 600px){
    .container-footer{
        display: inline-block;
        flex-wrap: wrap;
        flex-direction: column;
    }
}