
/*margenes y paddings por defecto*/
* {
  margin: auto;
  padding: 0;
  
}


/*navbar*/
nav {
  background: black;
  width: 100%;
  margin: auto;

  /*float: left;*/
}

nav ul {
  list-style: none;
  overflow: hidden; 
}
 
nav ul li {
  float: left;
  font-size: 16px;
}
 
nav ul li a {
  display: block; 
  padding: 20px;
  color:white;
  text-decoration: none;/*Quitar subrayado*/
}
 
nav ul li:hover { /*Al pasar el cursor*/
  background: gray ; 
}

.contenedor{
  width: 100%; /*Espaciado a los lados*/
  max-width: 100%;
  min-width: 600px;
}

#letranav{
	font-family: 'Roboto Mono', 'PT Sans', sans-serif;/*Texto navbar*/
  font-size: 18px;
  font-style: 

}
p{
	font-family: 'Comfortaa', cursive;/*Texto */
}

#img {
    width:100%;
    box-sizing: border-box;
}


@media screen and (min-width:50px){
  body{
    background: #006666;
  }
} 